body {
    font-family: Arial, serif;
    margin: 0;
    text-align: center;
    background: url("background/Star_wars.jpg") center fixed;
    filter: alpha(Opacity=70);
    opacity: 0.7;
    background-size: cover;
    color: white;
}

div {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
}

h3 {
    text-decoration: underline;
}

ul {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: auto;
}
ul li {
    display: block;
    float: left;
    list-style: none;
    margin-left: 30px;
    padding: 0;
    position: relative;
    width: auto;
}
ul li:first-child {
    margin-left: 0;
}
/*ul {*/
/*    list-style-type: none;*/
/*}*/

p {
    font-size: 20px;
}


